body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.heading-name{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.name-desing{
    color: lightsalmon;
}

.flexible-section{
    display: flex;
    padding-bottom:50px;
}

.first-section{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    margin: 0% 5%;
}

#paragraph-section1{
    margin-bottom: 30px;
    text-align: justify;
}

#paragraph-section2{
    padding-right: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.profile-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 50px;
    border-radius: 5px;
}

#profile-button:hover {
    opacity: 90%;
}

#profile-photo1{
    width: 85%;
    height:85%;
    margin-top: 45px;
}

#profile-photo2{
    width: 85%;
    height: 100%;
}

.dream-big{
    font-size: 40px;
}

.second-section{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experience-area{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience{
    margin-left: 20px;
    margin-bottom: 25px;
}
.identity-developer{
    font-size: 40px;
}

.period-span{
    color: lightsalmon;
}

.experience-item{
    width: 44%;
    margin-left: 4%;
    margin-right: 2%;
    padding: 10px;
    box-shadow: 10px 10px 25px lightblue;
    border-radius: 10px;
    /* -moz-box-shadow: 0 0 5px 5px lightblue;
    -webkit-box-shadow: 0 0 5px 5px lightblue;
    box-shadow: 0 0 5px 5px lightblue; */
}

#full-stack-developer{
    border-left: 8px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#front-end-developer{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}