body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.heading-name{
    font-size: 50px;
}

.name-desing{
    color: lightsalmon;
}

section{
    display: flex;
    padding-bottom:100px;
}

.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    margin: 0% 5%;
}

#paragraph-section1{
    padding-right: 5px;
    margin-bottom: 25px;
}

#paragraph-section2{
    padding-right: 20px;
    margin-bottom: 25px;
}

.profile-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 50px;
    border-radius: 5px;
}

#profile-button:hover {
    opacity: 90%;
}

#profile-photo1{
    width: 85%;
    height:85%;
    margin-top: 45px;
}

#profile-photo2{
    width: 85%;
    height: 100%;
}

.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}